body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.createuser-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 480px;
}

    .createuser-container h2 {
        margin-bottom: 20px;
    }

    .createuser-container input[type="text"],
    .createuser-container input[type="password"] {
        width: 75%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .createuser-container input[type="submit"] {
        width: 30%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #4CAF50;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

        .createuser-container input[type="submit"]:hover {
            background-color: #45a049;
        }
