body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
}
.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchItems {
    display: inline-flex;
    border-radius: 5px;
    margin-right: 10px;
}
.button_container {
    margin-top: 10px;
}
.highlighted {
    color: Highlight;
}
input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
    input[type="submit"]:hover {
        background-color: #45a049;
    }
.preview_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
    .preview_container #DescriptionPreview{
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 5px;
        max-height: 360px;
        width: 520px;
        overflow: auto;
        margin-right: 10px;
    }


    .list_of_books {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 10px;
        overflow-y: auto;
        max-height: 360px;
        width: 100%;
    }

    .list_of_books ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .list_of_books ul li {
            padding: 10px;
            border-bottom: 3px solid #eee;
        }

    .list_of_books h3 {
        padding: 10px;
        margin: 0;
        border-bottom: 3px solid #eee;
    }

    .list_of_books li:hover {
        background-color: #f0f0f0;
    }
